#home-container{
    position:absolute;
    left:0;
    right:0;
    margin-top:2vw;
    color:Black;
    background: rgb(85, 170, 226);
    background: linear-gradient(to right, #457fca, #5691c8);
    height:35vw;
  }
  
  #main-text{
    color:white;
    font-size:45px;
    padding-top:13vw;
    margin-left:27vw;
    margin-right:27vw;
  }

 
  @media (min-width:2420px){
    #home-container{
      height:35vw;
    }
    #main-text{
      padding-top:15vw;
      margin-left:37vw;
      margin-right:37vw;
    }
  }

@media (min-width:2201px) and (max-width:2419px){
  #home-container{
    height:35vw;
  }
  #main-text{
    padding-top:15vw;
    margin-left:36vw;
    margin-right:35vw;
  }
}

@media(min-width:1971px) and (max-width:2200px){
  #home-container{
    height:35vw;
  }
  #main-text{
    padding-top:15vw;
    margin-left:34vw;
    margin-right:34vw;
  }
}

@media (min-width:1841px) and (max-width:1970px){
    #main-text{
      padding-top:14vw;
      margin-left:33vw;
      margin-right:32vw;
    }
}

  @media (min-width:1700px) and (max-width:1840px){
    #main-text{
      padding-top:15vw;
      margin-left:31vw;
      margin-right:31vw;
    }
  }

  @media (min-width:1580px) and (max-width:1699px){
    #main-text{
      padding-top:15vw;
      margin-left:30vw;
      margin-right:29vw;
    }
  }

  @media (min-width:1545px) and (max-width:1579px) {
    #main-text{
      padding-top:15vw;
      margin-left:28vw;
      margin-right:28vw;
    }
  }

  @media (min-width:1404px)and (max-width:1544px){
    #home-container{
      height:40vw;
    }
    #main-text{
      padding-top:16vw;
      margin-left:32vw;
      margin-right:22vw;
    }
  }
  @media (min-width:1270px) and (max-width:1403px){
    #home-container{
      height:40vw;
    }
    #main-text{
      padding-top:17vw;
      margin-left:30vw;
      margin-right:19vw;
    }
  }

  @media (min-width:1170px) and (max-width:1269px){
    #home-container{
      height:45vw;
    }
    #main-text{
      padding-top:19vw;
      margin-left:25vw;
      margin-right:19vw;
    }
  }

  @media (min-width:1091px) and (max-width:1169px){
    #home-container{
      height:45vw;
    }
    #main-text{
      font-size:35px;
      padding-top:20vw;
      margin-left:30vw;
      margin-right:23vw;
    }
  }

  @media (min-width:987px) and (max-width:1090px){
    #home-container{
      height:46vw;
    }
    #main-text{
      font-size:35px;
      padding-top:20vw;
      margin-left:28vw;
      margin-right:20vw;
    }
  }

  @media (min-width:891px) and (max-width:986px){
    #home-container{
      height:47vw;
    }
    #main-text{
      font-size:30px;
      padding-top:22vw;
      margin-left:28vw;
      margin-right:22vw;
    }
  }

  @media (min-width:811px) and (max-width:890px){
    #home-container{
      height:47vw;
    }
    #main-text{
      font-size:30px;
      padding-top:21vw;
      margin-left:25vw;
      margin-right:20vw;
    }
  }

  @media (min-width:730px)and (max-width:810px){
    #home-container{
      height:50vw;
    }
    #main-text{
      font-size:30px;
      padding-top:23vw;
      margin-left:23vw;
      margin-right:16vw;
    }
  }

  @media (min-width:656px) and (max-width:729px){
    #home-container{
      height:50vw;
    }
    #main-text{
      font-size:30px;
      padding-top:22vw;
      margin-left:19vw;
      margin-right:13vw;
    }
  }

  @media (min-width:595px) and (max-width:655px){
    #home-container{
      height:66vw;
    }
    #main-text{
      font-size:30px;
      padding-top:31vw;
      margin-left:15vw;
      margin-right:10vw;
    }
  }

  @media (min-width:534px) and (max-width:594px){
    #home-container{
      height:66vw;
    }
    #main-text{
      font-size:25px;
      padding-top:32vw;
      margin-left:17vw;
      margin-right:12vw;
    }
  }

  @media (min-width:480px)and (max-width:533px){
    #home-container{
      height:66vw;
    }
    #main-text{
      font-size:25px;
      padding-top:32vw;
      margin-left:11vw;
      margin-right:10vw;
    }
  }

  @media (min-width:436px) and (max-width:479px){
    #home-container{
      height:76vw;
    }
    #main-text{
      font-size:25px;
      padding-top:37vw;
      margin-left:3vw;
      margin-right:10vw;
    }
  }

  @media (min-width:399px) and (max-width:435px){
    #home-container{
      height:77vw;
    }
    #main-text{
      font-size:25px;
      padding-top:38vw;
      margin-left:3vw;
      margin-right:2vw;
    }
  }

  @media (min-width:366px) and (max-width:398px){
    #home-container{
      height:80vw;
    }
    #main-text{
      font-size:24px;
      padding-top:40vw;
      margin-left:0vw;
      margin-right:0vw;
    }
  }

  @media (min-width:332px) and (max-width:365px){
    #home-container{
      height:80vw;
    }
    #main-text{
      font-size:larger;
      padding-top:40vw;
      margin-left:1vw;
      margin-right:8vw;
    }
  }

  @media (max-width:331px){
    #home-container{
      height:80vw;
    }
    #main-text{
      font-size:larger;
      padding-top:40vw;
      margin-left:0vw;
      margin-right:1vw;
    }
  }

